#title {
  background-color: #ff4c68;
  color: #fff;
}

#features {
  padding: 7% 15%;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 5%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

button i {
  margin-right: 5px;
}

.container-main {
  padding: 2.5% 10% 5%
}

.container-title {
  padding: 0;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Main column */
.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  margin-left: 20px;
}

/* Features */
.features-row {
  text-align: center;
}

.features-icon {
  color: #ef8172;
  margin: 1rem auto;
}

.features-icon:hover {
  color: #ff4c68;
}

.features-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.features-subtext {
  color: #8f8f8f;
}

/* testimonials */
.testimonials-image{
  width : 15%;
  border-radius: 100%;
  margin: 20px;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 30px;
}
