body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-weight: bold;
}

button i {
  margin-right: 5px;
}

/* Common Component */
.section-header {
  font-size: 3.5rem;
  line-height: 1.5;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title */
#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

.title-header {
  font-weight: 900;
}

.title-container {
  padding: 3% 10% 7%;
}

.title-image {
  width: 300px;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-heading {
  padding: 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Features */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.features-icon {
  color: #ef8172;
  margin: 1rem auto;
}

.features-icon:hover {
  color: #ff4c68;
}

.features-text {
  font-size: 1.5rem;
}

.features-subtext {
  color: #8f8f8f;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonials-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-control {
  margin-top: 200px;
}

.carousel-item {
  padding: 7% 10%;
}

/* Press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 30px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.pricing__price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA */
#cta {
  background-color: #ff4c68;
  color: #fff;
}

.cta-header {
  font-weight: 900;
  padding: 5% 25% 0;
}

/* Footer */
#footer {
  background-color: #fff;
  padding: 100px 0 50px;
}

.footer-icon {
  padding: 15px;
}

.footer-text {
  color: grey;
}

.footer-button {
  margin-right: 30px;
}

/* Media Query */
@media (max-width: 1030px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
